<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <listeners>
        <listener class-name="BaseClass.RetryListener"/>
    </listeners>
    <test verbose="4"   parallel="methods" name="TataCliqTest" thread-count="2">
        <parameter name="browserName" value="chrome"/>
        <classes>
       <!-- <class name="testClasses.GiftCardTest"/>-->
        <class name="testClasses.HomePageTest"/>
    </classes>
    </test>
</suite>