<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="4" preserve-order="true"  parallel="classes" name="TataCliqTest">
        <parameter name="browserName" value="chrome"/>
        <classes>
       <!-- <class name="testClasses.GiftCardTest"/>-->
        <class name="testClasses.HomePageTest"/>
    </classes>
    </test>
</suite>